<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DelayedStockQuoteSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DelayedStockQuoteSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx" 
                binding="basicHttpBinding" bindingConfiguration="DelayedStockQuoteSoap"
                contract="ServiceReference1.DelayedStockQuoteSoap" name="MyService" />         
         
        
        </client>
    </system.serviceModel>
</configuration>